* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(44, 57, 75 );
    background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat.svg');
    background-repeat:repeat;
    background-size: 100%;
}

.img{
    text-align: center;
    margin-top: 10px;
    display:flex;
    justify-content: space-between;
}
.img3{
    text-align: center;
    margin-top: 10px;
}
.img img,.img3 img{
    cursor: pointer;
    height: 405px;
    width: 690px;
    border: 30px solid black;
}

 h1 {
    font-family: Montserrat;
    color: white;
    text-align: center;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    cursor: pointer;
    margin: 1rem;
}
.holder h1:hover {
    letter-spacing: .7rem;
  }
h2 {
    font-family: Montserrat;
    color: orange;
    text-align: center;
    margin: 1rem;
}
p{
    font-size: 18px;
    font-family: Montserrat;
    color: white;
    text-align: center;
    margin: 1rem;
}

.overlay {
    margin-top: -200px;
    position: absolute;
    height: 100vh;
    width: 100vw;
    z-index: -5;
}
.overlay img {
    position: absolute;
    right: 0;
    bottom: 0;
}

.link {
    text-align: center;
}

a{
    font-size: 18px;
    font-family: Montserrat;
    color: rgb(255, 255, 255);
    margin: 50px;
    text-decoration: none;
}

.imagem{
    cursor: pointer;
    height: 300px;
    width: 600px;
    border: 30px solid black;
    float: right;
    margin-left: 150px;
    margin-top: 15px;
}
.next{
    color: yellow;
}
.pe{
    float:left;
    margin-right: 400px;
}
.imagem2{
    cursor: pointer;
    height: 300px;
    width: 600px;
    border: 30px solid black;
    margin-top: 15px;
}
.esquerda{
    float: left;
    width: 50vw;
}
.direita{
    float:right;
    width: 50vw;
}
.esquerda span{
    color: orange;
    font-weight: bold;
}
.direita span{
    color: orange;
    font-weight: bold;
}
.espaco{
    color: orangered;
}
.pe2{
    float:left;
    margin-right: 1000px;
}
.imagem5{
    cursor: pointer;
    height: 300px;
    width: 600px;
    border: 30px solid black;
    float: right;
    margin-left: 500px;
    margin-top: 15px;
}
.pe24{
    float:left;
    margin-right: 500px;
}
.imagem39{
    cursor: pointer;
    height: 300px;
    width: 600px;
    border: 30px solid black;
    float: right;
    margin-left: 300px;
    margin-top: 15px;
}